body {background-image: url(bt.jpg.jpg);
background-size: cover;
font-family: sans-serif;
font-style: italic;}
.reason { background-color: rgb(59, 235, 20);
width: 80%;
margin: auto;
padding: 20px;}
hr {height: 1px;
background-color:gold;
border-color:gold ;}
h1 {color: gold;}
.air {font-size: medium;}
a {color: white;}
a:visited {color:white;}
a:active {color: blueviolet;}
img {display: block;
  width: 300px;
max-width: 500px;
}
.caption {color: brown;}
.cost p {display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.location {text-align: left;
width: 75%;}

.amount {text-align: right;
width: 50
25%;}
h3 {text-align: center;}
